@mixin flex_element($direction: null, $wrap: null, $justify: null, $align: null) {
	display: flex;
	@if $direction != null {
		flex-direction: $direction;
	}
	@if $wrap != null {
		flex-wrap: $wrap;		
	}
	@if $justify != null {
		justify-content: $justify;		
	}
	@if $align != null {
		align-items: $align;		
	}
}

@mixin animaciones($name, $duration) {
	animation-name: $name;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: $duration;
	animation-delay: 0s;
}