/* Promociones */

.promos {
	@include flex_element($direction: column, $justify: space-evenly, $align: center);
	margin: 5% 0px;

	.contenedor_promo {
		max-width: 250px;
	}

	.promos__promo {
		background-color: $color-promo;
		border: 1px solid black;
		border-radius: 10%;
		transition: transform 1s;
		ul {
			margin: 0px;
			padding: 0px;
			li {
				text-align: center;
			}
		}
	}

	.promos__promo:hover {
		transform: scale(1.2, 1.2);
	}
}

.promos__promo .card-header {
	border-bottom: none;
}

.price {
	font-size: 200%;
}

/* Desktop */
@media (min-width: 992px) {
	.promos {
		@include flex_element($direction: row, $justify: space-evenly, $align: stretch);
	}
}